@charset "ISO-8859-1";

.banner {
	background-color:red;
	color:white;
	font-family:arial;
	font-size:25pt;
	font-weight : bolder;
	letter-spacing:1pt;
}
.menu {
	background-color:#cc0000;
	font-weight : bolder;
}

.body {
	font-family : verdana;
	font-size : 12pt;
}

